html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

/* Logo */
.nav-logo {
  width: 220px;
}

/* Desktop Navigation */
.nav-links {
  display: flex;
  font-size: 20px;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #b9ff66;
}

/* Mobile Menu */
.menu-toggle {
  display: none; /* Hide by default */
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block; /* Show menu button */
  }
}

.banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bannerText {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 10px 20px;
  width: 530px;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.bannerImg {
  width: 600px;
  height: 515px;
  padding: 10px 20px;
}

p {
  width: 500px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.btn {
  width: 265px;
  height: 68px;
  background-color: #191a23;
  color: white;
  font-size: 20px;
  border-radius: 14px;
}

.companyLogos {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 95px;
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

.companyLogos img {
  width: 100px;
  height: auto;
}
